# Задание 1
* Собрать информацию о всех строящихся объектах на сайте "наш.дом.рф"
* Cохранить ее в pandas dataframe
* Cохранить pandas dataframe в excel
* Cохранить pandas dataframe в pickle
* Cохранить pandas dataframe в БД

# Задание 2
* Выберите регион
* Сравните среднюю цену квадратного метра в городах этого региона
* Определите количество строящихся объектов и квартир в регионах
* Определите объем строящегося жилья в квадратных метрах

# Задание 3 *
* Напишете скрипт, который сможет ежедневно собирать данные по цене, количестве и объему строящихся объектов самостоятельно и ежедневно
* Попробуйте ускорить процесс
* Добавьте возможность добавления данных в БД с указанием текущей даты.

In [139]:
import requests
import pandas as pd
from tqdm.auto import tqdm
from pandas.io.json import json_normalize

## Список объектов

In [140]:
offset_ = 2001
limit_ = 1000
url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/kn/object?offset={offset_}&limit={limit_}&sortField=devId.devShortCleanNm&sortType=asc&objStatus=0'
res = requests.get(url)
objects_data = res.json()

In [141]:
objects_data.keys()

dict_keys(['data', 'errcode'])

In [142]:
objects_list = objects_data.get('data').get('list')

In [143]:
objids = [x.get('objId') for x in objects_list]

# Данные по определенному объекту

### Собрать информацию о всех строящихся объектах на сайте "наш.дом.рф"
### Cохранить ее в pandas dataframe

In [122]:
df = pd.DataFrame()
for i in tqdm(range(len(objids))):
    url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/object/{objids[i]}'
    try:
        res = requests.get(url)
        df_new = json_normalize(res.json()['data'])
    except Exception as e:
        print(e)
        continue
    finally:
        if len(df) > 0:
            df = pd.concat([df, df_new], ignore_index=True)
        else:
            df = df_new

HBox(children=(FloatProgress(value=0.0, max=1000.0), HTML(value='')))

/home/natawren/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if sys.path[0] == '':

HTTPSConnectionPool(host='xn--80az8a.xn--d1aqf.xn--p1ai', port=443): Max retries exceeded with url: /%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/object/38400 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x7f1ed28f65c0>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution'))

In [326]:
df_new = json_normalize(res.json()['data']['list'], meta_prefix = 'meta-')
df_new['developer.bankruptStage.bankruptLawUrl']

0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
5                                                    NaN
6                                                    NaN
7                                                    NaN
8                                                    NaN
9                                                    NaN
10                                                   NaN
11                                                   NaN
12                                                   NaN
13     http://www.consultant.ru/document/cons_doc_LAW...
14     http://www.consultant.ru/document/cons_doc_LAW...
15                                                   NaN
16                                                   NaN
17                                                   NaN
18                                                   NaN
19                                                   NaN
20                                                   NaN
21                                                   NaN
22                                                   NaN
23                                                   NaN
24                                                   NaN
25                                                   NaN
26                                                   NaN
27                                                   NaN
28                                                   NaN
29                                                   NaN
                             ...
970                                                  NaN
971                                                  NaN
972                                                  NaN
973                                                  NaN
974                                                  NaN
975                                                  NaN
976                                                  NaN
977                                                  NaN
978                                                  NaN
979                                                  NaN
980                                                  NaN
981                                                  NaN
982                                                  NaN
983                                                  NaN
984                                                  NaN
985                                                  NaN
986                                                  NaN
987                                                  NaN
988                                                  NaN
989                                                  NaN
990                                                  NaN
991                                                  NaN
992                                                  NaN
993                                                  NaN
994                                                  NaN
995                                                  NaN
996                                                  NaN
997                                                  NaN
998                                                  NaN
999                                                  NaN
Name: developer.bankruptStage.bankruptLawUrl, Length: 1000, dtype: object

### Cохранить pandas dataframe в excel

In [ ]:
df.to_excel('all_objects_excel.xlsx')

### Cохранить pandas dataframe в pickle

In [ ]:
df.to_pickel('all_objects_pickel.pkl')

### Cохранить pandas dataframe в БД

In [132]:
import sqlite3
conn = sqlite3.connect('dtb') 
c = conn.cursor()

In [134]:
df.to_sql(name='all_objects_db', con=conn)

InterfaceError: Error binding parameter 89 - probably unsupported type.

### Выберите регион

#### rpdRegionCd - region code

In [454]:
df.objSquareLiving

0      12555.40
1       8995.20
2       4324.80
3       2041.63
4       2135.80
5       2963.76
6          0.00
7          0.00
8          0.00
9          0.00
10     46218.24
11     16268.28
12      6886.37
13      1403.00
14      1403.00
15      1400.60
16      2602.20
17      1403.00
18      1403.00
19      1403.00
20      2602.20
21      8642.75
22      8207.25
23      8207.25
24      3707.51
25      6863.74
26      5997.40
27      7986.37
28      8533.99
29      8443.14
         ...
970     7203.75
971     4189.93
972     9528.61
973     5829.92
974     3427.67
975     1657.04
976     3008.39
977     2869.24
978     1344.93
979     8130.40
980    17651.90
981     4418.16
982     4469.50
983        0.00
984    17946.13
985    17458.05
986    18247.66
987    12556.29
988    12556.29
989    14559.37
990    16724.90
991     3968.50
992    16364.88
993    21435.80
994     9655.50
995     9655.50
996     9122.30
997     7530.20
998     6441.00
999    21006.18
Name: objSquareLiving, Length: 1000, dtype: float64

In [155]:
df.to_dict().keys()

dict_keys(['address', 'airQualityIndexValue', 'complexShortNm', 'conclusion', 'developer.bankruptStage.bankruptLawUrl', 'developer.bankruptStage.bankruptStageCd', 'developer.bankruptStage.bankruptStageDesc', 'developer.buildObjCnt', 'developer.comissObjCnt', 'developer.companyGroupId', 'developer.devEmail', 'developer.devEmplMainFullNm', 'developer.devFactAddr', 'developer.devFullCleanNm', 'developer.devId', 'developer.devInn', 'developer.devKpp', 'developer.devLegalAddr', 'developer.devOgrn', 'developer.devOrgRegRegionCd', 'developer.devPhoneNum', 'developer.devShortCleanNm', 'developer.devShortNm', 'developer.devSite', 'developer.developerGroupName', 'developer.fundGuarantyFlg', 'developer.govFundFlg', 'developer.lastRpdId', 'developer.objGuarantyEscrowFlg', 'developer.orgBankruptMsgDttm', 'developer.orgForm.fullForm', 'developer.orgForm.id', 'developer.orgForm.shortForm', 'developer.problObjCnt', 'developer.regRegionDesc', 'floorMax', 'floorMin', 'generalContractorNm', 'greenAreaIndexValue', 'id', 'infrastructureIndexValue', 'isAvailableWantLiveHere', 'loadDttm', 'metro.color', 'metro.colors', 'metro.id', 'metro.isWalk', 'metro.line', 'metro.name', 'metro.time', 'miniUrl', 'nameObj', 'newBuildingId', 'nonlivFirstFloor', 'objCompensFundFlg', 'objElemLivingCnt', 'objElemParkingCnt', 'objElevatorCargoCnt', 'objElevatorPassengerCnt', 'objElevatorWheelchairCnt', 'objEnergyEffShortDesc', 'objFlatCnt', 'objFlatSq', 'objFloorCnt', 'objGreenHouseFlg', 'objGuarantyEscrowFlg', 'objInfrstrBicycleLaneFlg', 'objInfrstrCurbLoweringFlg', 'objInfrstrNotObjPrkngCnt', 'objInfrstrObjPrkngCnt', 'objInfrstrPlaygrndCnt', 'objInfrstrRampFlg', 'objInfrstrSportGroundCnt', 'objInfrstrTrashAreaCnt', 'objLivCeilingHeight', 'objLkClassDesc', 'objLkFinishTypeDesc', 'objLkFreePlanDesc', 'objLkLatitude', 'objLkLongitude', 'objLkSaleDepEmail', 'objNonlivElemCnt', 'objPriceAvg', 'objProblemFlg', 'objReady100PercDt', 'objSquareLiving', 'objStatus', 'objTransferPlanDt', 'objectTransportInfo', 'objectType', 'pdId', 'photoRenderDTO', 'quartography.objLivElem1KCnt', 'quartography.objLivElem2KCnt', 'quartography.objLivElem3KCnt', 'quartography.objLivElem4KCnt', 'quartography.objLivElemCnt', 'quartography.objLivElemEntrCnt', 'quartography.objLivElemEntrFloorAvg', 'region', 'residentialBuildings', 'rpdIssueDttm', 'rpdNum', 'rpdPdfLink', 'soldOutPerc', 'transportDistIndex', 'transportDistIndexValue', 'wallMaterialShortDesc'])

### Сравните среднюю цену квадратного метра в городах этого региона

#### objPriceAvg

In [160]:
#df[['developer.regRegionDesc', 'developer.devOrgRegRegionCd']]
#df[['developer.regRegionDesc', 'developer.devOrgRegRegionCd']].set_index('developer.devOrgRegRegionCd').to_dict()

{'developer.regRegionDesc': {22.0: 'Алтайский край',
  63.0: 'Самарская область',
  72.0: 'Тюменская область',
  29.0: 'Архангельская область',
  69.0: 'Тверская область',
  78.0: 'Санкт-Петербург город',
  23.0: 'Краснодарский край',
  50.0: 'Московская область',
  39.0: 'Калининградская область',
  24.0: 'Красноярский край',
  74.0: 'Челябинская область',
  5.0: 'Дагестан Республика',
  25.0: 'Приморский край',
  18.0: 'Удмуртская Республика',
  27.0: 'Хабаровский край',
  60.0: 'Псковская область',
  91.0: 'Крым Республика',
  77.0: 'Москва город',
  26.0: 'Ставропольский край',
  61.0: 'Ростовская область',
  36.0: 'Воронежская область',
  54.0: 'Новосибирская область',
  58.0: 'Пензенская область',
  30.0: 'Астраханская область',
  66.0: 'Свердловская область',
  62.0: 'Рязанская область',
  14.0: 'Саха (Якутия) Республика ',
  16.0: 'Татарстан Республика',
  33.0: 'Владимирская область',
  73.0: 'Ульяновская область',
  15.0: 'Северная Осетия - Алания Республика',
  76.0: 'Ярославская область',
  2.0: 'Башкортостан Республика',
  65.0: 'Сахалинская область',
  42.0: 'Кемеровская область - Кузбасс',
  43.0: 'Кировская область',
  34.0: 'Волгоградская область',
  52.0: 'Нижегородская область',
  nan: nan,
  71.0: 'Тульская область',
  86.0: 'Ханты-Мансийский АО - Югра',
  46.0: 'Курская область',
  55.0: 'Омская область',
  59.0: 'Пермский край',
  4.0: 'Алтай Республика',
  13.0: 'Мордовия Республика',
  38.0: 'Иркутская область',
  45.0: 'Курганская область',
  92.0: 'Севастополь город',
  nan: nan,
  21.0: 'Чувашская Республика',
  11.0: 'Коми Республика',
  1.0: 'Адыгея Республика',
  28.0: 'Амурская область',
  48.0: 'Липецкая область',
  37.0: 'Ивановская область',
  47.0: 'Ленинградская область',
  35.0: 'Вологодская область',
  nan: nan,
  nan: nan,
  nan: nan,
  8.0: 'Калмыкия Республика',
  32.0: 'Брянская область',
  64.0: 'Саратовская область',
  40.0: 'Калужская область',
  44.0: 'Костромская область',
  3.0: 'Бурятия Республика',
  67.0: 'Смоленская область',
  31.0: 'Белгородская область',
  nan: nan,
  68.0: 'Тамбовская область',
  nan: nan,
  nan: nan,
  56.0: 'Оренбургская область',
  70.0: 'Томская область',
  17.0: 'Тыва Республика',
  nan: nan,
  12.0: 'Марий Эл Республика'}}

In [225]:
df_1 = df[['region', 'address', 'objPriceAvg']].copy()
df_1['city'] = df['address'].str.split(',')
df_1['city'] = df_1['city'].str[0]
df_1['city'] = df_1['city'].str.split().apply(lambda x: ''.join(list(filter(str.istitle, x))))

,region,address,objPriceAvg,city
0,22,"г Барнаул, район Центральный, улица Песчаная, ...",56167.0,г Барнаул
1,63,"г Тольятти, район Автозаводский, пр-кт Степана...",47754.0,г Тольятти
2,72,"п Московский, ул Новая, д. 17",NaN,п Московский
3,29,"г Архангельск, ул Романа Куликова, блок-секция 4",93301.0,г Архангельск
4,29,"г Архангельск, ул Романа Куликова, блок-секция А",105233.0,г Архангельск
5,29,"г Архангельск, ул Романа Куликова, блок-секция 5",97564.0,г Архангельск
6,69,"г Тверь, район Пролетарский, улица Макарова, д...",42912.0,г Тверь
7,72,"г Тюмень, ул Рижская, д. 59, блок-секция 7.1",NaN,г Тюмень
8,78,"г Санкт-Петербург, район Невский, проспект Тов...",111485.0,г Санкт-Петербург
9,63,"Самара, улица Красных Коммунаров/Двадцать втор...",26099.0,Самара
10,23,"г Анапа, ш Супсехское, д. 35, блок-секция 10,1...",56945.0,г Анапа
11,50,"городское поселение Одинцово, район 2-й мкр., ...",NaN,городское поселение Одинцово
12,50,"г Одинцово, район 2-й мкр., улица, корпус 15/2...",NaN,г Одинцово
13,39,"г Светлогорск, улица Ольховая, д. 3",127965.0,г Светлогорск
14,39,"г Светлогорск, улица Ольховая, д. 3",132272.0,г Светлогорск
15,39,"г Светлогорск, улица Ольховая, д. 3",118405.0,г Светлогорск
16,39,"г Светлогорск, улица Ольховая, д. 3",130046.0,г Светлогорск
17,39,"г Светлогорск, улица Ольховая, д. 3",125047.0,г Светлогорск
18,39,"г Светлогорск, улица Ольховая, д. 3",114313.0,г Светлогорск
19,39,"г Светлогорск, улица Ольховая, д. 3",127805.0,г Светлогорск
20,39,"г Светлогорск, улица Ольховая, д. 3",129401.0,г Светлогорск
21,50,"г Химки, район Квартал Свистуха, д. 6",116951.0,г Химки
22,50,"г Химки, квартал Свистуха, д. 3",126980.0,г Химки
23,50,"г Химки, д. 1",106532.0,г Химки
24,50,"г Химки, д. 4",102841.0,г Химки
25,50,"г Химки, район Квартал Свистуха, д. 5",143050.0,г Химки
26,50,"г Химки, квартал Свистуха, д. 8",134198.0,г Химки
27,50,"г Химки, квартал Свистуха, д. 2",102758.0,г Химки
28,50,"г Химки, район Квартал Свистуха, д. 10",131981.0,г Химки
29,50,"г Химки, квартал Свистуха, д. 9",123920.0,г Химки
...,...,...,...,...
970,50,"город Звенигород, район р-н Восточный, район В...",NaN,город Звенигород
971,38,"рп Маркова, д. 12",72332.0,рп Маркова
972,38,"рп Маркова, д. 11, блок-секция 1,2,3",78715.0,рп Маркова
973,38,"рп Маркова, д. 13, блок-секция 1,2",80218.0,рп Маркова
974,61,"г Батайск, ул Дружная, д. 6, блок-секция 2",58333.0,г Батайск
975,61,"г Батайск, ул Дружная, д. 6, блок-секция 4",61161.0,г Батайск
976,61,"г Батайск, ул Дружная, д. 6, блок-секция 3",60093.0,г Батайск
977,61,"г Батайск, ул Дружная, д. 6, блок-секция 1",58000.0,г Батайск
978,12,"г Волжск, ул Чкалова, д. 2",45631.0,г Волжск
979,26,"г Ессентуки, ул Шмидта, д. З/у 26:30:020219:648",67827.0,г Ессентуки
980,77,"г Москва, район Сокол, ул Врубеля, д. 4, корпус 1",418931.0,г Москва
981,33,"г Владимир, район Ленинский, ул Всесвятская, д...",NaN,г Владимир
982,47,"г Всеволожск, пр-кт Октябрьский, вл. 78",NaN,г Всеволожск
983,50,"г Дзержинский, улица Угрешская, д. 19",41263.0,г Дзержинский
984,33,"город Владимир, район Юрьевец, улица Родионовк...",33826.0,город Владимир
985,33,"город Владимир, улица Славная, д. 8",37810.0,город Владимир
986,33,"город Владимир, район Мкр. Юрьевец, улица Роди...",36372.0,город Владимир
987,33,"город Владимир, улица Родионовка, д. 4а",46585.0,город Владимир
988,33,"город Владимир, район мкр. Юрьевец, улица Роди...",28000.0,город Владимир
989,33,"город Владимир, улица Всесвятская, д. 12",39987.0,город Владимир
990,36,"г Воронеж, 45 Стрелковой дивизии",75891.0,г Воронеж
991,36,"г Воронеж, 45 Стрелковой дивизии",78885.0,г Воронеж
992,52,"г Нижний Новгород, район Нижегородский, улица ...",94528.0,г Нижний Новгород
993,52,"г Нижний Новгород, район Нижегородский, улица ...",96786.0,г Нижний Новгород
994,36,"х Ветряк, улица Выборская, д. 12",65829.0,х Ветряк
995,36,"х Ветряк, улица Выборская, д. 11",NaN,х Ветряк
996,36,"г Воронеж, ул Димитрова, д. 51",88780.0,г Воронеж
997,36,"г Воронеж, ул Димитрова, д. 51",95143.0,г Воронеж
998,36,"г Воронеж, улица Шидловского, д. 11",61554.0,г Воронеж
999,63,"г Самара, ул Ново-Вокзальная",85579.0,г Самара

In [249]:
df_2 = df_1.groupby(['region', 'city']).mean()
df_2 = df_2[df_2.objPriceAvg.notnull()]
df_2

### Определите количество строящихся объектов и квартир в регионах

In [455]:
df_3 = df[['photoRenderDTO', 'region', 'objSquareLiving']]
df_3['photoRenderDTO'] = df_3[df_3['photoRenderDTO'].notnull()]
df_3 = df_3[df_3['photoRenderDTO'].apply(lambda x: len(x)) > 0].reset_index()
df_3['objReadyDesc'] = [df_3['photoRenderDTO'].str[0][i]['objReadyDesc'] for i in range(len(df_3))]
df_3 = df_3[df_3.objReadyDesc == 'Строится']
df_3[['region','objReadyDesc']].groupby(['region']).count()

/home/natawren/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

        objReadyDesc
region
1                  6
2                 14
3                 14
5                  2
8                  3
11                 4
12                 2
13                 1
15                 3
16                28
17                 2
18                18
19                 2
21                 2
22                22
23                44
24                13
25                33
26                 5
27                 7
28                 9
29                13
30                 4
31                19
32                 8
33                15
34                 6
35                 2
36                29
37                 1
...              ...
48                 4
50               105
52                17
54                48
55                 3
56                 1
58                 6
59                11
60                 3
61                45
62                 5
63                13
64                 1
65                23
66                44
67                 9
68                 2
69                 7
70                 2
71                14
72                 7
73                 5
74                12
76                14
77                87
78                52
86                 3
89                 1
91                12
92                 1

[69 rows x 1 columns]

### Определите объем строящегося жилья в квадратных метрах

In [461]:
df_3['objBuildTypeShortDesc'] = [df_3['photoRenderDTO'].str[0][i]['objBuildTypeShortDesc'] for i in range(len(df_3))]
df_4 = df_3[df_3.objBuildTypeShortDesc.str.lower() == 'жилое']
df_4[['region','objSquareLiving']].groupby('region').sum()

        objSquareLiving
region
1              33814.07
2             147342.65
3             128272.62
5              35945.84
8               7207.14
11             18363.13
12              9576.52
13              9290.39
15              6807.00
16            122100.11
17              8545.34
18            178047.40
19              6275.05
21             26401.53
22            178115.62
23            662016.34
24            153921.05
25            285496.55
26             54081.70
27             51634.64
28             44214.90
29             80685.41
30             18287.80
31             72107.19
32             89890.02
33            234767.59
34             60512.97
35              9827.80
36            260943.90
37              5973.65
...                 ...
48             44467.59
50            901946.64
52            188264.23
54            482404.63
55             17958.80
56             11263.71
58             49438.95
59             32455.62
60             16597.37
61            382002.19
62            119741.30
63            187306.53
64              7504.45
65             95302.66
66            451823.56
67             47156.18
68             11345.60
69             56417.16
70             16077.00
71            113803.68
72             56296.06
73             53573.73
74             40896.87
76            179534.70
77           2111097.35
78            608730.88
86             43670.41
89              4975.60
91            103867.51
92             10441.54

[69 rows x 1 columns]