# Про Pandas

In [1]:
import pandas as pd
import os
import numpy as np
fpath = os.path.join('data','Datafiniti_Pizza_Restaurants_and_the_Pizza_They_Sell_May19.csv')
pizza = pd.read_csv(fpath)

In [3]:
# Первые строчки таблицы

In [2]:
# Информация о таблице
pizza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
id                    10000 non-null object
dateAdded             10000 non-null object
dateUpdated           10000 non-null object
address               10000 non-null object
categories            10000 non-null object
primaryCategories     10000 non-null object
city                  10000 non-null object
country               10000 non-null object
keys                  10000 non-null object
latitude              10000 non-null float64
longitude             10000 non-null float64
menuPageURL           1679 non-null object
menus.amountMax       10000 non-null float64
menus.amountMin       10000 non-null float64
menus.currency        10000 non-null object
menus.dateSeen        10000 non-null object
menus.description     3718 non-null object
menus.name            10000 non-null object
name                  10000 non-null object
postalCode            9996 non-null object
priceRangeCurrency    10000 non-null object
priceRangeMin         10000 non-null int64
priceRangeMax         10000 non-null int64
province              10000 non-null object
dtypes: float64(4), int64(2), object(18)
memory usage: 1.8+ MB

In [19]:
# Если нужно удалить колонки
# pizza = pizza.drop(['address','dateUpdated'], axis=1)

In [4]:
# pizza.head()

In [5]:
# Выводим названия колонок
# pizza.columns

In [8]:
# Количество уникальных значений в колонке
pizza['pizzeria_name_len'] = pizza.name.apply(lambda x:len(x) )

In [9]:
# pizza[['menus.description', 'menus.name']]

In [2]:
# Уникальные значения в колонке
# pizza.name.unique().tolist()

In [12]:
# Группируем с помощью groupby
# количество уникальных названий по регионам 
pizzaz_by_province = pizza.groupby(['province'])['name'].nunique().reset_index()

In [86]:
# pizzaz_by_province

In [13]:
# проверяем названия колонок
pizzaz_by_province.columns

Index(['province', 'name'], dtype='object')

In [14]:
# Меняем названия на те что нам нравятся
pizzaz_by_province.columns = ['province','quantity']

In [15]:
pizzaz_by_province.rename(columns={'name':'quantity'}, inplace=True)

In [17]:
# pizzaz_by_province

In [18]:
# Сортируем по полю quantity
pizzaz_by_province = pizzaz_by_province.sort_values(by=['quantity'], ascending=[False])

In [102]:
# Размечаем те регионы, где много пиццерий с помощью numpy
# pizzaz_by_province['many_or_not_many_pd'] = np.where(pizzaz_by_province['quantity']> 100,1,0)

In [26]:
# Размечаем те регионы, где много пиццерий с помощью pandas

# Неправильный вариант
# pizzaz_by_province[pizzaz_by_province['quantity'] > 100]['many_or_not_many_pd'] = 1
# pizzaz_by_province[pizzaz_by_province['quantity'] <=100]['many_or_not_many_pd'] = 0

# Правильный вариант
pizzaz_by_province['less_10'] = 0
pizzaz_by_province.loc[pizzaz_by_province['quantity'] < 10, 'less_10' ] = 1
pizzaz_by_province.less_10.sum()

13

In [29]:
less_10_provinces = pizzaz_by_province.loc[pizzaz_by_province['quantity'] < 10, 'province' ].tolist()

In [20]:
# Меняем тип данных в колонке

In [21]:
# Рассчитываем сумму или среднее значение по колонке

In [22]:
# Применение функции к элекментам колонки

In [104]:
def qdevtwo(x):
    if int(x) % 2 == 0:
        return 1
    else:
        return 0
        
pizzaz_by_province['dev2'] = pizzaz_by_province.quantity.apply(lambda x: qdevtwo(x))

In [105]:
pizzaz_by_province['dev2'] = pizzaz_by_province.quantity.apply(qdevtwo)

In [23]:
pizzaz_by_province.head(3)

   province  quantity  many_or_not_many_pd
30       NY       395                  1.0
4        CA       219                  1.0
34       PA       172                  1.0

In [1]:
# pizzaz_by_province.iloc[1,:]

In [248]:
# Альтернативный вариант
dev2list = []
for i in range(pizzaz_by_province.shape[0]):
    val =  pizzaz_by_province.iloc[i,1]
    dev2list.append(qdevtwo(val))

pizzaz_by_province['dev2_loop'] = dev2list

In [251]:
pizzaz_by_province.head()

   province  quantity  many_or_not_many  many_or_not_many_pd  dev2  dev2_loop
30       NY       395                 1                    1     0          0
4        CA       219                 1                    1     0          0
34       PA       172                 1                    1     1          1
8        FL       145                 1                    1     0          0
38       TX       117                 1                    1     0          0

In [135]:
pizza.shape

(10000, 24)

# Практическое задание

In [132]:
#1. Взять датасет c пицериями и ублать лишние колонки :
to_delete = [ 'dateAdded', 'keys',
 'latitude', 'longitude','menuPageURL', 'menus.amountMax',
 'menus.amountMin', 'postalCode', 'priceRangeCurrency']

In [ ]:
# 2. Заменить значения в колонке country c US на RU
#----- Ваш код здесь ----

In [ ]:
# 4. Рассчитайте количество пицерий в городе 'Santa Barbara' в переменную sb_pizza_num
#----- Ваш код здесь ----

In [ ]:
# 5. Рассчитайте количество пицерий в Калифорнии (province == CA) в ca_pizza_num
#----- Ваш код здесь ----

In [ ]:
# 6. Рассчитайте и выведите долю 'Santa Barbara' в пицериях Калифорнии
#----- Ваш код здесь ----

In [ ]:
# 7. Рассчитайте средние значения priceRangeMin и priceRangeMax по primaryCategories
#----- Ваш код здесь ----

In [ ]:
# 8. Выведите топ-5 самых популярных названий пицц по menus.name
#----- Ваш код здесь ----

In [ ]:
# 9. Выведите самый редкий ингридиент из описания menus.description (опционально)
#----- Ваш код здесь ----

In [ ]:
# 10. Создайте директорию pizza_provinces
#----- Ваш код здесь ----

In [ ]:
# 11. Сохраните в эту директорию файлы с пицериями по регионам provinces 
# В задании важно учесть условие:
#  Если регион начинается "A" то файл .xlsx, если 'N' то .csv, в остальных случаях .txt
#  Пример: 'AR.xlsx' содержит в себе все пицерии из региона 'AR'

#----- Ваш код здесь ----

In [ ]:
# 12. Напишите функцию, которая на вход будет принимать регион, а на выходе выдавать город, где больше всего пцццерий
#----- Ваш код здесь ----

In [226]:
# 13. Рассчитайте и запишите в колонку city_len количество символов в названии города 2мя способами
#----- Ваш код здесь ----