# Про Pandas

In [1]:
import pandas as pd
import os
import numpy as np
fpath = os.path.join('data','Datafiniti_Pizza_Restaurants_and_the_Pizza_They_Sell_May19.csv')
pizza = pd.read_csv(fpath)

In [3]:
# Первые строчки таблицы

In [2]:
# Информация о таблице
pizza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
id                    10000 non-null object
dateAdded             10000 non-null object
dateUpdated           10000 non-null object
address               10000 non-null object
categories            10000 non-null object
primaryCategories     10000 non-null object
city                  10000 non-null object
country               10000 non-null object
keys                  10000 non-null object
latitude              10000 non-null float64
longitude             10000 non-null float64
menuPageURL           1679 non-null object
menus.amountMax       10000 non-null float64
menus.amountMin       10000 non-null float64
menus.currency        10000 non-null object
menus.dateSeen        10000 non-null object
menus.description     3718 non-null object
menus.name            10000 non-null object
name                  10000 non-null object
postalCode            9996 non-null object
priceRangeCurrency    10000 non-null object
priceRangeMin         10000 non-null int64
priceRangeMax         10000 non-null int64
province              10000 non-null object
dtypes: float64(4), int64(2), object(18)
memory usage: 1.8+ MB

In [3]:
# Если нужно удалить колонки
pizza = pizza.drop(['address','dateUpdated'], axis=1)

In [4]:
pizza.head()

,id,dateAdded,categories,primaryCategories,city,country,keys,latitude,longitude,menuPageURL,...,menus.currency,menus.dateSeen,menus.description,menus.name,name,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province
0,AVz3Y-7h3D1zeR_xDAqm,2017-06-30T05:05:40Z,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,US,us/ar/sherwood/4203ekiehlave/-1051391616,34.832300,-92.183800,http://www.citysearch.com/profile/menu/1550074...,...,USD,"2018-05-01T04:25:37.197Z,2018-04-16T04:36:02.3...",NaN,Cheese Pizza,Shotgun Dans Pizza,72120,USD,0,25,AR
1,AVweGPFF_7pvs4fzAAzQ,2016-04-02T04:02:49Z,"Pizza,Pizza Place,Restaurants",Accommodation & Food Services,Phoenix,US,us/az/phoenix/25ecamelbackrd/-727422936,33.509266,-112.073044,NaN,...,USD,"2018-03-03T02:38:06.381Z,2018-01-18T20:18:10.0...",NaN,Pizza Cookie,Sauce Pizza Wine,85012,USD,0,25,AZ
2,AVwdRGa9_7pvs4fz4E3K,2016-03-03T18:39:49Z,"Restaurant,Pizza Place,Restaurants",Accommodation & Food Services,Cincinnati,US,us/oh/cincinnati/3703paxtonave/-619797122,39.144883,-84.432685,http://www.citysearch.com/profile/menu/8160503...,...,USD,"2018-04-10T07:58:34.585Z,2018-04-21T05:43:21.4...",a saucelessampcomma double cheese pizza with a...,Pizza Blanca,Mios Pizzeria,45209,USD,0,25,OH
3,AVwdX4psIN2L1WUfvJB1,2016-03-29T05:08:59Z,"Pizza,Carry-out food,Pizza Place,Restaurants",Accommodation & Food Services,Madison Heights,US,us/mi/madisonheights/30495johnrrd/-874863116,42.516669,-83.106630,NaN,...,USD,"2016-10-20T21:50:02Z,2016-03-29T05:08:59Z",NaN,Small Pizza,Hungry Howies Pizza,48071,USD,25,40,MI
4,AVwdaeTtkufWRAb55pSH,2016-03-31T02:34:04Z,"Pizza,American restaurants,Pizza Place,Pizza e...",Accommodation & Food Services,Baltimore,US,us/md/baltimore/3600easternave/-1270965359,39.286630,-76.566984,NaN,...,USD,2016-03-31T02:34:04Z,NaN,Pizza Sub,Spartan Pizzeria,21224,USD,0,25,MD

In [5]:
# Выводим названия колонок
pizza.columns

Index(['id', 'dateAdded', 'categories', 'primaryCategories', 'city', 'country',
       'keys', 'latitude', 'longitude', 'menuPageURL', 'menus.amountMax',
       'menus.amountMin', 'menus.currency', 'menus.dateSeen',
       'menus.description', 'menus.name', 'name', 'postalCode',
       'priceRangeCurrency', 'priceRangeMin', 'priceRangeMax', 'province'],
      dtype='object')

In [8]:
# Количество уникальных значений в колонке
pizza['pizzeria_name_len'] = pizza.name.apply(lambda x:len(x) )

In [9]:
# pizza[['menus.description', 'menus.name']]

In [7]:
# Уникальные значения в колонке
pizza.name.unique()#.tolist()

array(['Shotgun Dans Pizza', 'Sauce Pizza Wine', 'Mios Pizzeria', ...,
       'Bella Italia', 'Wood and Fire', "Carbone's Pizzeria"],
      dtype=object)

In [9]:
# Группируем с помощью groupby
# количество уникальных названий по регионам 
pizzaz_by_province = pizza.groupby(['province'])['name'].nunique().reset_index()
pizzaz_by_province

   province  name
0        AK     3
1        AL     3
2        AR    10
3        AZ    50
4        CA   219
5        CO    35
6        CT     1
7        DE     7
8        FL   145
9        GA    53
10       HI     1
11       IA    15
12       ID     4
13       IL   111
14       IN    52
15       KS    12
16       KY    21
17       LA    10
18       MD    32
19       MI    79
20       MN    23
21       MO    28
22       MS     7
23       MT     1
24       NC    62
25       ND     1
26       NE     9
27       NJ     1
28       NM    11
29       NV    19
30       NY   395
31       OH    82
32       OK    11
33       OR    28
34       PA   172
35       SC    26
36       SD     2
37       TN    25
38       TX   117
39       UT    15
40       VA    52
41       WA    49
42       WI    32
43       WV     6

In [86]:
# pizzaz_by_province

In [13]:
# проверяем названия колонок
pizzaz_by_province.columns

Index(['province', 'name'], dtype='object')

In [14]:
# Меняем названия на те что нам нравятся
pizzaz_by_province.columns = ['province','quantity']

In [15]:
pizzaz_by_province.rename(columns={'name':'quantity'}, inplace=True)

In [17]:
# pizzaz_by_province

In [18]:
# Сортируем по полю quantity
pizzaz_by_province = pizzaz_by_province.sort_values(by=['quantity'], ascending=[False])

In [102]:
# Размечаем те регионы, где много пиццерий с помощью numpy
# pizzaz_by_province['many_or_not_many_pd'] = np.where(pizzaz_by_province['quantity']> 100,1,0)

In [26]:
# Размечаем те регионы, где много пиццерий с помощью pandas

# Неправильный вариант
# pizzaz_by_province[pizzaz_by_province['quantity'] > 100]['many_or_not_many_pd'] = 1
# pizzaz_by_province[pizzaz_by_province['quantity'] <=100]['many_or_not_many_pd'] = 0

# Правильный вариант
pizzaz_by_province['less_10'] = 0
pizzaz_by_province.loc[pizzaz_by_province['quantity'] < 10, 'less_10' ] = 1
pizzaz_by_province.less_10.sum()

13

In [29]:
less_10_provinces = pizzaz_by_province.loc[pizzaz_by_province['quantity'] < 10, 'province' ].tolist()

In [20]:
# Меняем тип данных в колонке

In [21]:
# Рассчитываем сумму или среднее значение по колонке

In [22]:
# Применение функции к элекментам колонки

In [104]:
def qdevtwo(x):
    if int(x) % 2 == 0:
        return 1
    else:
        return 0
        
pizzaz_by_province['dev2'] = pizzaz_by_province.quantity.apply(lambda x: qdevtwo(x))

In [105]:
pizzaz_by_province['dev2'] = pizzaz_by_province.quantity.apply(qdevtwo)

In [23]:
pizzaz_by_province.head(3)

   province  quantity  many_or_not_many_pd
30       NY       395                  1.0
4        CA       219                  1.0
34       PA       172                  1.0

In [1]:
# pizzaz_by_province.iloc[1,:]

In [248]:
# Альтернативный вариант
dev2list = []
for i in range(pizzaz_by_province.shape[0]):
    val =  pizzaz_by_province.iloc[i,1]
    dev2list.append(qdevtwo(val))

pizzaz_by_province['dev2_loop'] = dev2list

In [251]:
pizzaz_by_province.head()

   province  quantity  many_or_not_many  many_or_not_many_pd  dev2  dev2_loop
30       NY       395                 1                    1     0          0
4        CA       219                 1                    1     0          0
34       PA       172                 1                    1     1          1
8        FL       145                 1                    1     0          0
38       TX       117                 1                    1     0          0

In [135]:
pizza.shape

(10000, 24)

# Практическое задание

In [132]:
#1. Взять датасет c пицериями и ублать лишние колонки :
to_delete = [ 'dateAdded', 'keys',
 'latitude', 'longitude','menuPageURL', 'menus.amountMax',
 'menus.amountMin', 'postalCode', 'priceRangeCurrency']

In [ ]:
# 2. Заменить значения в колонке country c US на RU
#----- Ваш код здесь ----

In [ ]:
# 4. Рассчитайте количество пицерий в городе 'Santa Barbara' в переменную sb_pizza_num
#----- Ваш код здесь ----

In [ ]:
# 5. Рассчитайте количество пицерий в Калифорнии (province == CA) в ca_pizza_num
#----- Ваш код здесь ----

In [ ]:
# 6. Рассчитайте и выведите долю 'Santa Barbara' в пицериях Калифорнии
#----- Ваш код здесь ----

In [ ]:
# 7. Рассчитайте средние значения priceRangeMin и priceRangeMax по primaryCategories
#----- Ваш код здесь ----

In [ ]:
# 8. Выведите топ-5 самых популярных названий пицц по menus.name
#----- Ваш код здесь ----

In [ ]:
# 9. Выведите самый редкий ингридиент из описания menus.description (опционально)
#----- Ваш код здесь ----

In [ ]:
# 10. Создайте директорию pizza_provinces
#----- Ваш код здесь ----

In [ ]:
# 11. Сохраните в эту директорию файлы с пицериями по регионам provinces 
# В задании важно учесть условие:
#  Если регион начинается "A" то файл .xlsx, если 'N' то .csv, в остальных случаях .txt
#  Пример: 'AR.xlsx' содержит в себе все пицерии из региона 'AR'

#----- Ваш код здесь ----

In [ ]:
# 12. Напишите функцию, которая на вход будет принимать регион, а на выходе выдавать город, где больше всего пцццерий
#----- Ваш код здесь ----

In [226]:
# 13. Рассчитайте и запишите в колонку city_len количество символов в названии города 2мя способами
#----- Ваш код здесь ----