In [17]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('TestDB.db')  
c = conn.cursor()

In [2]:
request = "CREATE TABLE EMP(id int, name varchar(32), last_name varchar(32))"
c.execute(request)
tables = c.fetchall()

In [5]:
c.execute("SELECT count(*) from EMP")
results = c.fetchall()
results[]

[(0,)]

In [4]:
# pd.io.sql.read_sql("select * from pageviews limit 10;", conn)

In [30]:
import psycopg
import pandas as pd
#Библиотека ждя визуализации
from IPython.display import HTML
import plotly.express as px
import matplotlib.pyplot as plt


#!введите свои реквизиты!
DB_HOST = '52.157.159.24'
DB_USER = 'student19'
DB_USER_PASSWORD = 'student19_password'
DB_NAME = 'sql_ex_for_student19'

con_psgr = psycopg.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)

-- sqlite3: Перенести таблицы product в локальную sqlite3 (те сделать снэпшот этих таблиц из postgreSQL в sqlite3 через python).

In [32]:
df = pd.read_sql("""
                    select * from product
                """, con_psgr)
df.to_sql(name='product', con=conn)
conn.execute("select * from product").fetchall()

[(0, 'B', '1121', 'PC'),
 (1, 'A', '1232', 'PC'),
 (2, 'A', '1233', 'PC'),
 (3, 'E', '1260', 'PC'),
 (4, 'A', '1276', 'Printer'),
 (5, 'D', '1288', 'Printer'),
 (6, 'A', '1298', 'Laptop'),
 (7, 'C', '1321', 'Laptop'),
 (8, 'A', '1401', 'Printer'),
 (9, 'A', '1408', 'Printer'),
 (10, 'D', '1433', 'Printer'),
 (11, 'E', '1434', 'Printer'),
 (12, 'B', '1750', 'Laptop'),
 (13, 'A', '1752', 'Laptop'),
 (14, 'E', '2113', 'PC'),
 (15, 'E', '2112', 'PC')]

--task2  (lesson7)
-- sqlite3: сравнить скорость обработки таблиц sqlite3 vs postgresql на примере запроса: 
        посчитать количество всех товаров стоимостью больше 500. 
        (через %%time перед запросом в ноутбуке)

In [37]:
%%time
df = pd.read_sql("""
                    select * from product 
                    where maker = 'A'
                """, con_psgr)

CPU times: user 4.71 ms, sys: 37 µs, total: 4.75 ms
Wall time: 60.3 ms

In [38]:
%%time
df = pd.read_sql("""
                    select * from product 
                    where maker = 'A'
                """, conn)

CPU times: user 508 µs, sys: 11 ms, total: 11.5 ms
Wall time: 9.54 ms